man_base_data_pebble/
manindexer
.vscode/
metaid_cli/metaid-cli
idaddress/idaddress.test
idaddress/cmd/idaddr/idaddr
mrc20_migration
dist/
man_p2p_data/
data_test/
pebble_data/
man-p2p
localdocs/
config.toml
p2p-config.json
.env
.env.*
*.local.toml
*.local.json
